
.my-navbar{display: flex; 
  position: fixed; 
  width: 100%;
  background:white;
  align-items: center;
  justify-content: space-around;
}

.link{
  width: 50%; 
  display: flex;
  justify-content: space-around;
  color: #575656;
  text-align: right;
   font-family: 'Anton', sans-serif;
   font-size: 20px;}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


desc-photo{
  align-items: left; 
  justify-content: space-between;
}

.desc {
  display: flex; 
  background: #575656; 
  border: 4px solid #eccd5e;
  justify-content: space-around;
  align-items: center;
}

.desc-text { 
 font-family: 'Questrial', sans-serif;
  color: white;
  justify-content: space-between;
  border: 4px solid #575656;
}

h2 {
color: #eccd5e; 
font-family: 'Anton', sans-serif;
font-size: 12px;
}

.my-logo {
  display: flex;
  align-items: left;
}

.btn btn-primary {
display: flex;
align-items: center;
}

.carousel-item{
transition: transform 2s ease, opacity .3s ease-out
}

button{
  color: #4ac8ca;
  font-family: 'Anton', sans-serif;
  background: #575656;
}

.typeform-share button {
  color: #4ac8ca;
}

.video{background-color: #575656; display: flex; align-items: right;border: 4px solid #eccd5e;width: 80%}

.adresse{background-color: #575656; display: flex; align-items: center;  border: 6px solid  #575656;}

.videosize{display: flex;}
